*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color:black;
    height: 100vh;

}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: orange;
    color: white;
    padding: 20px;
}
section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}
.left-sidebar {
    flex-grow: 2;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 20px;
    height: 500px;
}
.main-content{
    flex-grow: 8;
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px;

}
.right-sidebar {
    flex-grow: 2;
    text-align: center;
    background-color: red;
    color: white;
    padding: 20px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: purple;
    color: white;
    padding: 20px;
}